{% extends '_base.html' %}

{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<h1>Homepage</h1>
<div>
    <img class="bookcover" src="{% static 'images/bookstore.jpg' %}">
</div>
{% if user.is_authenticated %}
    Hi {{ user.email }}
    <p>
        <a href="{% url 'account_logout' %}">Log Out</a>
    </p>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search-results' %}" method="get">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search books" aria-label="Search">
    </form>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'account_login' %}">Log In</a><br>
    <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}